@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --primary-color:#ef6f06;
  --primary-dark: #0d4cea;
}

span{
  color: var(--primary-color);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width:7px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius:5px;
}
*::-webkit-scrollbar-thumb {
  border-radius:5px;
  -webkit-box-shadow: inset 0 0 6px rgb(231, 31, 5); 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: white;
}
p{
  font-size: 1.2rem;
  line-height: 1.4;
}
h1{
  font-size: 3.5rem;
}
h2{
  font-size: 3rem;
}
.container{
  max-width: 1240px;
  margin:auto;
}
button{
  font-family: 'Roboto',sans-serif;
  padding: .7rem 1.5rem;
  margin: 1rem 0;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #f8f8f8;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  border-radius: 4px;
  transition:0.5s ease-in;
}
/* be aware that this will cause alot of changes
button:hover{
  background-color: #9a9591;
  border:#9a9591;
  color:black;
}
*/
@media screen and (max-width:940px){
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2.5rem;
  }
}